@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}
.App {
  /* height: 737px; */
  align-items: center;
  /* padding-top: 40px;
    padding-bottom: 40px; */
  background-color: #dcdcdc;
}
.form-signin {
  /* display: block; */
  background-color: white;
  height: 820px;
  width: 100%;
  max-width: 376px;
  /* padding: 15px; */
  margin-bottom: 390px;
  margin: 0px auto;
  position: relative;
}
.menu {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 15px;
  margin-left: 120px;
}
.dropdown {
  position: absolute;
  flex-direction: column;
  /* align-items: space-between; */
  box-shadow: 0 10px 10px gray;
  margin: 30px 80px;
  z-index: 1;
  background-color: white;
  width: 160px;
  display: none;
}
.dropdown a {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 15px;
  display: block;
  position: relative;
}
.dropdown a:hover {
  /* background-color: #464646; */
  color: black;
}
.menu:hover .dropdown {
  display: block;
}

/* .box1 {
  width: 330px;
  height: 270px;
  background: black;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
} */
.usertext {
  color: white;
  padding-top: 110px;
  text-align: center;
}

.boxdua {
  margin-top: 10px;
  margin-left: 19px;
  width: 310px;
  height: 110px;
  border-radius: 16px;
  background-color: white;
  padding: 0.5em 1em;
  box-shadow: 1px 4px 8px rgb(169, 169, 169);
  position: absolute;
}
.boxdalam {
  width: 100px;
  height: 100px;
  left: 10px;
  top: 15px;
  border-radius: 100%;
  color: white;
  /* background-color: black; */
  margin-bottom: 210px;
  position: absolute;
}
.usernameCard {
  margin-left: 110px;
  font-size: 14px;
  color: black;
  position: absolute;
  margin-top: 5px;
}
.info {
  margin-top: 30px;
  margin-left: 110px;
  position: absolute;
  font-size: 14px;
  color: #838790;
}
.share {
  margin-left: 270px;
  position: absolute;
  bottom: 60px;
  cursor: pointer;
}

.boxdua2 {
  width: 342px;
  height: 110px;
  margin-left: 19px;
  border-radius: 16px;
  background-color: white;
  border-color: transparent;
  padding: 0.5em 1em;
  box-shadow: 1px 4px 8px rgb(169, 169, 169);
  position: absolute;
}
.boxdua3 {
  /* margin-top: 10px; */
  width: 342px;
  height: 110px;
  margin-left: 19px;
  /* right: 20px; */
  /* top: -20px; */
  border-radius: 16px;
  background-color: white;
  /* margin-bottom: 10px; */
  /* margin-left: 20px; */
  border-color: transparent;
  padding: 0.5em 1em;
  box-shadow: 1px 4px 8px rgb(169, 169, 169);
  position: absolute;
}

.boxdalam2 {
  margin-top: 150px;
  border: 1px;
  right: 16px;
  margin-left: 33px;
  width: 343px;
  height: 12px;
  background-color: black;
  padding: 1em 0.8em;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}
.cop {
  margin-left: 145px;
  bottom: -4px;
  margin-bottom: 10px;
  cursor: pointer;
  position: absolute;
  color: red;
}
.frame {
  margin-top: 35px;
  width: 300px;
}
.a {
  position: absolute;
  /* margin-left: 5px; */
  color: white;
  position: absolute;
  top: -7px;
  font-size: 12px;
}
.picture {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 330px;
  height: 280px;
  border-radius: 16px;
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
}
.total {
  position: absolute;
  bottom: 10px;
  left: 210px;
}
.b {
  position: relative;
  margin-left: 160px;
}
.redd {
  margin-bottom: 10px;
  margin-left: 30px;
}
.total2 {
  margin-left: 40px;
  bottom: 5px;
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 100%;
}
.total3 {
  margin-right: 5px;
}
.merah {
  position: absolute;
  width: -10px;
  height: 0px;
  margin-bottom: 30px;
}
.logo {
  margin-top: 20px;
  margin-left: 25px;
  position: relative;
}
.red {
  color: red;
  border-radius: 100%;
}
.footer {
  position: fixed;
  left: 10;
  right: 10;
  bottom: 0;
  /* width: 26.1%; */
  /* width: 100%; */
  width: 376px;
  background-color: white;
  text-align: center;
  box-shadow: 1px 4px 8px rgb(169, 169, 169);
}
/* .footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 350px;
  width: 375px;
  height: 50px;
  margin-right: 10px;
  right: 20px;
  top: -20px;
  border-radius: 16px;
  background-color: white;
  margin-bottom: 10px;
  margin-left: 20px;
  border-color: transparent;
  padding: 0.5em 0em;
  box-shadow: 1px 4px 15px rgb(169, 169, 169);
  position: absolute;
} */
.home {
  margin-top: 10px;
  width: 20px;
  height: 22.74px;
  margin-left: 30px;
  cursor: pointer;
  /* margin-bottom: 7px; */
  /* text-align: right; */
  /* margin-top: 20px; */
}
.beranda {
  cursor: pointer;
  /* margin-bottom: 10px; */
  margin-left: 30px;
  margin-top: 0px;
  font-size: 10px;
  color: #21242b;
}
.notif {
  width: 20px;
  height: 22px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 100px;
  /* margin-bottom: 7px; */
  /* margin-top: 20px; */
}
.notifikasi {
  cursor: pointer;
  margin-left: 100px;
  margin-top: 0px;
  font-size: 10px;
  color: #838790;
}
.addHome {
  margin-top: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-left: 100px;
  /* margin-top: 20px; */
}
.pengaturan {
  width: 21px;
  height: 21px;
  cursor: pointer;
  margin-bottom: 7px;
  margin-left: 195px;
}
.settings {
  cursor: pointer;
  margin-left: 30px;
  margin-top: 0px;
  font-size: 10px;
  color: #838790;
}
.logout {
  width: 22px;
  height: 22px;
  margin-top: 10px;
  cursor: pointer;
  /* margin-bottom: 7px; */
  margin-left: 20px;
}
.log {
  cursor: pointer;
  margin-left: 20px;
  margin-top: 0px;
  font-size: 10px;
  color: #838790;
}
.saldotext {
  font-size: 12px;
  color: #838790;
  height: 1px;
  text-align: left;
  margin-left: 14px;
}
.saldo {
  font-size: 24px;
  color: #21242b;
  text-align: left;
  margin-left: 13px;
}
.div1 {
  width: 60%;
}
.div2 {
  width: 40%;
  text-align: right;
}
@media only screen and (max-width: 320px) {
  .form-signin {
    position: fixed;
    height: 100%;
  }
  .logo {
    width: 100px;
  }
  .boxdua {
    width: 80%;
    height: 16%;
  }
  .boxdalam {
    margin-top: -3px;
    width: 100px;
    height: 100px;
  }
  .usernameCard {
    margin-top: 1px;
  }
  .info {
    margin-top: 20px;
  }
  .boxdalam2 {
    width: 285px;
    height: 12px;
  }
  .cop {
    margin-left: 120px;
  }
  .boxdua2 {
    width: 90%;
    height: 14%;
    margin-top: -10px;
  }
  .boxdua3 {
    margin-top: -30px;
    width: 90%;
    height: 14%;
  }
  .div1 {
    width: 90%;
  }
  .div2 {
    width: 10%;
    text-align: right;
  }
  .footer {
    width: 100%;
  }
  .home {
    width: 20px;
    height: 22.74px;
    margin-left: 20px;
  }
  .beranda {
    margin-left: 20px;
  }
  .notif {
    width: 20px;
    height: 22px;
    margin-left: 80px;
  }
  .notifikasi {
    margin-left: 80px;
  }
  .addHome {
    width: 35px;
    height: 35px;
    margin-left: 80px;
  }
  .pengaturan {
    width: 21px;
    height: 21px;
    margin-left: 150px;
  }
  .settings {
    margin-left: 20px;
  }
  .logout {
    width: 22px;
    height: 22px;
  }
  .log {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .form-signin {
    position: fixed;
    height: 100%;
  }
  .boxdalam2 {
    width: 340px;
  }
  .boxdua2 {
    margin-top: -10px;
  }
  .boxdua3 {
    margin-top: -10px;
  }
  .footer {
    width: 100%;
  }
  .home {
    width: 20px;
    height: 22.74px;
  }
  .beranda {
    margin-left: 30px;
  }
  .notif {
    width: 20px;
    height: 22px;
    margin-left: 100px;
  }
  .notifikasi {
    margin-left: 100px;
  }
  .addHome {
    width: 35px;
    height: 35px;
    margin-left: 100px;
  }
  .pengaturan {
    width: 21px;
    height: 21px;
  }
  .settings {
    margin-left: 25px;
  }
  .logout {
    width: 22px;
    height: 22px;
    margin-left: 25px;
  }
  .log {
    margin-left: 25px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .form-signin {
    position: fixed;
    height: 100%;
  }
  .a {
    margin-top: 9px;
  }
  .cop {
    margin-left: 160px;
  }
  .boxdua {
    width: 350px;
  }
  .boxdalam2 {
    width: 380px;
  }
  .boxdua2 {
    width: 380px;
    margin-top: -10px;
  }
  .boxdua3 {
    width: 380px;
    margin-top: -10px;
  }
  .footer {
    width: 100%;
  }
  .home {
    width: 20px;
    height: 22.74px;
  }
  .beranda {
    margin-left: 30px;
  }
  .notif {
    width: 20px;
    height: 22px;
    margin-left: 120px;
  }
  .notifikasi {
    margin-left: 120px;
  }
  .addHome {
    width: 35px;
    height: 35px;
    margin-left: 120px;
  }
  .pengaturan {
    width: 21px;
    height: 21px;
    margin-left: 216px;
  }
  .settings {
    margin-left: 40px;
  }
  .logout {
    width: 22px;
    height: 22px;
    margin-left: 40px;
  }
  .log {
    margin-left: 40px;
  }
}
