@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  /* height: 700px; */
  align-items: center;
  /* padding-top: 40px;
  padding-bottom: 40px; */
  /* background-color: #dcdcdc; */
  background-color: white;
}
.form-signin {
  background-color: white;
  height: 900px;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
}

.gbrarow {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.kun {
  margin-left: 10px;
  margin-top: 2px;
  position: absolute;
  font-size: 18px;
}
.silang {
  margin-left: 320px;
}

.form-control-nama {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-control-email {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-control-nominal {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-control-bio {
  width: 100%;
  padding: 12px 20px 60px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.btnSubmit {
  cursor: pointer;
  width: 350px;
  height: 46px;
  border: 1px solid;
  border-color: white;
  background-color: #21242b;
  border-radius: 100px;
  margin-top: 30px;
}
.text2 {
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: 13px;
}
.min {
  font-size: 12px;
  color: #838790;
  margin: 0px 0px;
}
.set {
  color: red;
}
.a {
  border: 1px solid #eff0f2;
  width: 250px;
  height: 50px;
  border-radius: 100px;
  cursor: pointer;
  background-color: transparent;
}
.popup {
  width: 171px;
  display: flex;
  margin-left: 90px;
}
.text {
  margin-left: 90px;
}
.link {
  color: #838790;
}
.addLink {
  margin-top: 10px;
  width: 164px;
  height: 46px;
  border: 1px solid #838790;
  border-radius: 100px;
  background: transparent;
  color: #838790;
  cursor: pointer;
}
.AddFiles {
  width: 164px;
  margin-left: 20px;
  height: 46px;
  border: 1px solid #838790;
  border-radius: 100px;
  background: transparent;
  color: #838790;
  cursor: pointer;
}
.textbawah {
  font-size: 12px;
  color: #838790;
}

@media only screen and (max-width: 500px) {
  .form-signin {
    height: 100%;
    align-items: center;
    margin: 0px auto;
  }
}
/* @media screen and (max-width: 320px) {
  .form-signin {
    position: fixed;
  }
  .kun {
    font-size: 16px;
  }
  .silang {
    margin-left: 250px;
  }
  .form-control-nama {
    width: 90%;
  }
  .form-control-email {
    width: 90%;
  }
  .form-control-nominal {
    width: 90%;
  }
  .form-control-bio {
    width: 90%;
  }
  .btnSubmit {
    width: 5px;
    padding: 0.1em 9em;
    margin-left: -5px;
  }
  .text2 {
    margin-left: -22px;
  }
  .addLink {
    width: 134px;
    height: 36px;
  }
  .AddFiles {
    width: 134px;
    height: 36px;
  }
  .textbawah {
    font-size: 10px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .form-signin {
    position: fixed;
    padding: 20px;
  }
  .kun {
    font-size: 18px;
  }
  .silang {
    margin-left: 300px;
  }
  .form-control-nama {
    width: 95%;
  }
  .form-control-email {
    width: 95%;
  }
  .form-control-nominal {
    width: 95%;
  }
  .form-control-bio {
    width: 95%;
  }
  .btnSubmit {
    width: 45px;
    padding: 0.1em 9em;
    margin-left: -2px;
  }
  .addLink {
    width: 154px;
    height: 46px;
  }
  .AddFiles {
    width: 154px;
    height: 46px;
  }
  .text2 {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .form-signin {
    position: fixed;
    padding: 40px;
  }
  .kun {
    font-size: 18px;
    margin-left: 1px;
  }
  .silang {
    margin-left: 320px;
  }
  .form-control-nama {
    width: 100%;
  }
  .form-control-email {
    width: 100%;
  }
  .form-control-nominal {
    width: 100%;
  }
  .form-control-bio {
    width: 100%;
  }
  .btnSubmit {
    width: 45px;
    padding: 0.1em 9.5em;
    margin-left: -2px;
  }
  .text2 {
    margin-left: 0px;
  }
} */
