@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  /* background-color: #dcdcdc; */
  background-color: white;
}
.form-signin {
  background-color: white;
  width: 100%;
  height: 790px;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
}
.cairkan {
  margin-left: 240px;
  margin-top: -200px;
  position: relative;
  appearance: none;
  width: 85px;
  height: 34px;
  /* padding: 0.25em 1.3em; */
  color: #21242b;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 1px solid #21242b;
  background: transparent;
}
.box {
  margin-top: 30px;
  font-size: 18px;
}
.saldo {
  font-size: 12px;
  color: #838790;
}
.boxdua {
  width: 300px;
  padding: 25px;
  left: 25px;
  height: 35px;
  border-radius: 5px;
  background-color: white;
}
.arah {
  margin-top: -60px;
  margin-left: 1px;
  position: absolute;
  cursor: pointer;
}
.tanggal {
  margin-left: 25px;
}
.kun {
  margin-top: 0px;
  font-size: 24px;
}
@media only screen and (max-width: 500px) {
  .form-signin {
    height: 100%;
    align-items: center;
    margin: 20px auto;
  }
}
/* @media only screen and (max-width: 320px) {
  .form-signin {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .saldo {
    font-size: 12px;
  }
  .kun {
    font-size: 20px;
  }
  .cairkan {
    margin-left: 200px;
    width: 60px;
  }
  .box {
    font-size: 16px;
  }
  .boxdua {
    margin-left: -20px;
  }
  .total {
    margin-left: -30px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .form-signin {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 25px;
  }
  .saldo {
    font-size: 12px;
  }
  .kun {
    font-size: 22px;
  }
  .cairkan {
    margin-left: 230px;
    width: 60px;
  }
  .box {
    font-size: 18px;
  }
  .boxdua {
    margin-left: -20px;
  }
  .total {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .form-signin {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 30px;
  }
  .saldo {
    font-size: 12px;
  }
  .kun {
    font-size: 24px;
  }
  .cairkan {
    margin-left: 270px;
    width: 60px;
  }
  .box {
    font-size: 18px;
  }
  .boxdua {
    margin-left: 0px;
  }
  .total {
    margin-left: 0px;
  }
} */
