@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  /* height: 750px; */
  align-items: center;
  /* padding-top: 40px;
  padding-bottom: 40px; */
  background-color: white;
}
.form-signin {
  /* display: block; */
  background-color: white;
  height: 790px;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
  position: relative;
}
.text {
  display: flex;
  text-align: center;
  font-size: 20px;
  color: black;
}
.button {
  height: 50px;
  margin-left: 10px;
  position: relative;
  appearance: none;
  padding: 0.1em 5.5em;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid white;
  border-color: #21242b;
  background: transparent;
  margin-top: 30px;
}
.logo {
  margin-top: 180px;
  margin-left: 120px;
}

/* @media only screen and (max-width: 320px) {
  .form-signin {
    position: fixed;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .form-signin {
    position: fixed;
    padding: 20px;
  }

}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .form-signin {
    position: fixed;
    padding: 40px;
  }
} */
