@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  /* height: 700px; */
  align-items: center;
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  background-color: #dcdcdc;
}
.form-signin {
  background-color: white;
  width: 100%;
  height: 900px;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
}
.gbrarow {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.kun {
  margin-left: 10px;
  margin-top: 2px;
  position: absolute;
  font-size: 18px;
}
.silang {
  margin-left: 320px;
}

.form-control-nama {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.form-control-nominal {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.choose {
  font-size: 16px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  /* height: 250px; */
  cursor: pointer;
}

.btnSubmit {
  margin-left: 10px;
  position: relative;
  appearance: none;
  padding: 0.1em 9em;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid white;
  background: black;
}

.text2 {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
}
.set {
  color: red;
}
@media only screen and (max-width: 320px) {
  .form-signin {
    position: fixed;
    height: 100%;
    padding: 15px;
  }
  .silang {
    margin-left: 260px;
  }
  .kun {
    font-size: 16px;
    margin-left: 5px;
  }
  .form-control-nama {
    width: 90%;
  }
  .form-control-nominal {
    width: 90%;
  }
  .choose {
    width: 90%;
  }
  .btnSubmit {
    margin-left: 5px;
    width: 55px;
    padding: 0.1em 7em;
  }
  .text2 {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .form-signin {
    position: fixed;
    height: 100%;
    padding: 30px;
  }
  .kun {
    font-size: 16px;
    margin-left: 5px;
  }
  .silang {
    margin-left: 300px;
  }
  .form-control-nama {
    width: 95%;
  }
  .form-control-nominal {
    width: 95%;
  }
  .choose {
    width: 95%;
  }
  .btnSubmit {
    margin-left: 5px;
    width: 95px;
    padding: 0.1em 7em;
  }
  .text2 {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .form-signin {
    position: fixed;
    height: 100%;
    padding: 30px;
  }
  .kun {
    font-size: 18px;
    margin-left: 5px;
  }
  .silang {
    margin-left: 320px;
  }
  .form-control-nama {
    width: 100%;
  }
  .form-control-nominal {
    width: 100%;
  }
  .choose {
    width: 100%;
  }
  .btnSubmit {
    margin-left: 5px;
    width: 110px;
    padding: 0.1em 7em;
  }
  .text2 {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
