@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  /* background-color: #dcdcdc; */
  background-color: white;
}
.form-signin {
  background-color: white;
  width: 100%;
  height: 900px;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
  position: relative;
}
.form-control {
  width: 341px;
  height: 63px;
  padding: 0 20px;
  margin: 15px 0;
  border: 1px solid #c4c4c4;
  align-items: "center";
  background-color: "white";
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}
.form-control::-webkit-input-placeholder {
  color: #21242b;
  font-size: 16px;
}
