@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  background-color: white;
}
.form-signin {
  background-color: white;
  width: 100%;
  height: 900px;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
  position: fixed;
  left: 0;
  right: 0;
}
.inputContainer {
  width: 100%;
  padding: 0 20px;
  margin: 8px 0;
  border: 1px solid #c4c4c4;
  display: flex;
  flex-direction: row;
  align-items: "center";
  background-color: "white";
  box-sizing: border-box;
  border-radius: 8px;
}
.usernameLabel {
  margin: 12px 0px;
  font-weight: normal;
}
.usernameLabelPeriksa {
  margin: 12px 0px;
  font-weight: normal;
  color: #1238f7;
  cursor: pointer;
}
.form-control {
  width: 100%;
  border: none;
  box-shadow: none;
  outline: none !important;
}
.form-control-2 {
  width: 100%;
  border: none;
  box-shadow: none;
  outline: none !important;
}
.form-control::-webkit-input-placeholder {
  color: #21242b;
  font-size: 16px;
}
.inputContainerRek {
  width: 100%;
  padding: 0 20px;
  margin: 15px 0;
  border: 1px solid #c4c4c4;
  display: flex;
  flex-direction: row;
  align-items: "center";
  background-color: "white";
  box-sizing: border-box;
  border-radius: 8px;
}
.divRekeningName {
  width: 347px;
  height: 92px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}
.namaRek {
  padding: 0 20px;
  font-weight: bold;
  font-size: 16px;
  color: #21242b;
}
.button {
  width: 350px;
  height: 59px;
  background-color: #143af5;
  border-radius: 100px;
  border: 1px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
  cursor: pointer;
}
.btnSubmit {
  width: 350px;
  height: 59px;
  background-color: #808080;
  border-radius: 100px;
  border: 1px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
  cursor: pointer;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 350px;
  background-color: white;
}
.set {
  color: red;
}
