@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  /* height: 700px; */
  align-items: center;
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  background-color: #dcdcdc;
}
.form-signin {
  background-color: white;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
}

.gbrarow {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.kun {
  margin-left: 130px;
  margin-top: 2px;
  position: absolute;
  font-size: 18px;
}
.check {
  margin-left: 330px;
  margin-top: -15px;
}
.user {
  margin-top: 30px;
  margin-left: 110px;
}
.kun1 {
  margin-left: 110px;
}
.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-control-bio {
  width: 100%;
  padding: 50px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
