@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  background-color: #dcdcdc;
}
.form-signin {
  background-color: white;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
}

.maudy {
  font-size: 21px;
}

.boxdua {
  width: 300px;
  height: 154px;
  right: 15px;
  top: -10px;
  border-radius: 30px;
  background-color: white;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 0.5em 1.3em;
  box-shadow: 4px 5px 5px rgb(169, 169, 169);
  position: relative;
}
.boxdalam {
  width: 100px;
  height: 104px;
  left: 25px;
  top: 50px;
  border-radius: 30px;
  color: white;
  background-color: black;
  margin-bottom: 210px;
  position: absolute;
}

.info {
  margin-top: 55px;
  margin-left: 150px;
  position: absolute;
  font-size: 12px;
  color: #838790;
}

.form-control-nama {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-control-email {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-control-nominal {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-control-bio {
  width: 100%;
  padding: 30px 10px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.btnSubmit {
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  appearance: none;
  padding: 0.1em 9em;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid white;
  background: black;
}
.text2 {
  color: white;
}

.logo1 {
  margin-left: 120px;
  margin-top: 20px;
}

.section {
  display: flex;
  justify-content: space-evenly;
}
.section2 {
  display: flex;
  justify-content: space-between;
}

.logoovo {
  padding: 0.5em 1em;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
}
.logoovo:hover {
  border-color: black;
}
.logoovo::selection {
  border-color: black;
}

.logogopay {
  padding: 0.23em 0.6em;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
}
.logogopay:hover {
  border-color: black;
}
.logogopay::selection {
  border-color: black;
}

.logodana {
  padding: 0.8em 0.7em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
}
.logodana:hover {
  border-color: black;
}

.logolinkaja {
  padding: 0.8em 0.7em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
}
.logolinkaja:hover {
  border-color: black;
}

.logoshopeepay {
  padding: 0.66em 1.4em;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
}
.logoshopeepay:hover {
  border-color: black;
}
.logoshopeepay::selection {
  border-color: black;
}
.logoqris {
  padding: 0.5em 0.8em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
}
.logoqris:hover {
  border-color: black;
}
.logotransfer {
  top: 10px;
  margin-right: 90px;
  padding: 0.8em 1.5em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
}
.logotransfer:hover {
  border-color: black;
}
.validateOvo {
  margin-left: 25px;
  margin-top: 30px;
  border: 1px solid black;
  padding: 1em 6em;
  border-radius: 10px;
  background: white;
  border-color: #bfc2cb;
}
.total {
  display: flex;
  justify-content: center;
}
