@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  background-color: white;
}
/* html,
body,
:root,
.App {
  height: 100%;
  position: fixed;
  overflow: auto;
} */
.form-signin {
  background-color: white;
  width: 100%;
  height: 790px;
  max-width: 370px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
  position: relative;
}

.maudy {
  /* margin-bottom: 10px; */
  font-size: 21px;
  margin-left: 8px;
}

.boxdua {
  width: 320px;
  height: 130px;
  right: 20px;
  top: -20px;
  border-radius: 16px;
  background-color: white;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 0.5em 1.6em;
  box-shadow: 1px 4px 8px rgb(169, 169, 169);
  position: relative;
}

.boxdalam {
  width: 100px;
  height: 100px;
  left: 20px;
  top: 25px;
  border-radius: 100%;
  color: white;
  background-color: black;
  margin-bottom: 210px;
  position: absolute;
}

.info {
  /* margin-top: 50px; */
  margin-left: 110px;
  /* position: absolute; */
  font-size: 14px;
  color: #838790;
  text-overflow: ellipsis;
}

.bioContainer {
  margin-top: 35px;
  /* margin-left: 20px; */
  /* display: flex;
  flex: column; */
}

.btnSubmit {
  margin-top: 30px;
  /* margin-left: 10px; */
  position: relative;
  appearance: none;
  padding: 0.1em 9em;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid white;
  background: #808080;
}
.btnBedaWarna {
  margin-top: 30px;
  /* margin-left: 10px; */
  position: relative;
  appearance: none;
  padding: 0.1em 9em;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid white;
  background: black;
}

.btnSubmit ::selection {
  background: black;
}
.text2 {
  margin-left: 20px;
  color: white;
}
.text21 {
  margin-left: 20px;
  color: white;
}

.logo1 {
  margin-left: 130px;
  /* margin-top: 15px; */
}

.section {
  margin-top: 70px;
}
.section2 {
  display: flex;
  justify-content: space-between;
}

.logoovo {
  padding: 0.5em 1em;
  margin-top: 10px;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
}
.logoovo:hover {
  border-color: black;
}
.logobca {
  padding: 0.9em 1.3em;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 6px;
}
.logogopay {
  padding: 0.23em 0.6em;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 7px;
}
.logogopay:hover {
  border-color: black;
}

.logodana {
  padding: 0.23em 0.6em;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 7px;
}
.logodana:hover {
  border-color: black;
}
.logolinkaja {
  padding: 0.23em 0.6em;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
}
.logolinkaja:hover {
  border-color: black;
}
.logolinkaja::selection {
  border-color: black;
}

.logoshopeepay {
  padding: 0.75em 1.4em;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  /* margin-left: 7px; */
  margin-top: 10px;
}
.logoshopeepay:hover {
  border-color: black;
}
.logoshopeepay::selection {
  border-color: black;
}

.logoqris {
  padding: 0em 0.7em;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 6px;
}
.logoqris:hover {
  border-color: black;
}
.logoqris::selection {
  border-color: black;
}

.logotransfer {
  padding: 0.6em 1.3em;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 6px;
}
.logotransfer:hover {
  border-color: black;
}
.logotransfer::selection {
  border-color: black;
}

.validateOvo {
  border: 1px solid black;
  padding: 12px 30px;
  margin: 10px 80px;
  border-radius: 8px;
  background: white;
  border-color: #bfc2cb;
}

.total {
  display: flex;
  justify-content: center;
}
.set {
  color: red;
  font-size: 14px;
}
.inputNama {
  width: 100%;
  padding: 3px 20px;
  /* margin-bottom: 10px; */
  margin: 10px 0px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: "center";
  background-color: "white";
  box-sizing: border-box;
  border-radius: 8px;
}
.namaLabel {
  margin: 0px 0px;
  font-weight: normal;
  color: #838790;
}
.nama {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.inputEmail {
  width: 100%;
  padding: 3px 20px;
  /* margin-bottom: 10px; */
  margin: 10px 0px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: "center";
  background-color: "white";
  box-sizing: border-box;
  border-radius: 8px;
}
.emailLabel {
  margin: 0px 0px;
  font-weight: normal;
  color: #838790;
}
.email {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.inputNominal {
  width: 100%;
  padding: 3px 20px;
  /* margin-bottom: 10px; */
  margin: 10px 0px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: "center";
  background-color: "white";
  box-sizing: border-box;
  border-radius: 8px;
}
.nominalLabel {
  margin: 0px 0px;
  font-weight: normal;
  color: #838790;
}
.nominal {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.inputPesan {
  width: 100%;
  padding: 10px 20px;
  /* margin-bottom: 10px; */
  margin: 5px 0px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: "center";
  background-color: "white";
  box-sizing: border-box;
  border-radius: 8px;
}
.pesanLabel {
  margin: 0px 0px;
  font-weight: normal;
  color: #838790;
}
.pesan {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.inputOVO {
  width: 100%;
  padding: 3px 20px;
  /* margin-bottom: 10px; */
  margin: 5px 0px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: "center";
  background-color: "white";
  box-sizing: border-box;
  border-radius: 8px;
}
.OVOLabel {
  margin: 0px 0px;
  font-weight: normal;
  color: #838790;
}
.number {
  font-size: 16px;
  padding: 1px;
  margin: 0 0;
  color: black;
}
.ovo {
  font-size: 16px;
  border: none;
  box-shadow: none;
  outline: none !important;
}
.usernameCard {
  margin-left: 110px;
  font-size: 18px;
  color: black;
  position: absolute;
  margin-top: 10px;
}
.borderchoose {
  padding: 0.5em 1em;
  margin-top: 10px;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border-color: #006aff;
}
.borderchoosegopay {
  padding: 0.23em 0.6em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 7px;
  border-color: #006aff;
}
.borderchoosebca {
  padding: 0.9em 1.2em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 5px;
  border-color: #006aff;
}

.borderchoosedana {
  padding: 0.23em 0.6em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 7px;
  border-color: #006aff;
}
.borderchooselinkaja {
  padding: 0.23em 0.6em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border-color: #006aff;
}
.borderchooseshopeepay {
  padding: 0.75em 1.4em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-top: 10px;
  border-color: #006aff;
}

.borderchooseqris {
  padding: 0em 0.8em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 5px;
  border-color: #006aff;
}
.borderchoosetransfer {
  padding: 0.6em 1.2em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 5px;
  border-color: #006aff;
}
.customPopup {
  margin-left: 10px;
  background-color: red;
}
.buttonQr {
  cursor: pointer;
  width: 345px;
  height: 55px;
  border-color: black;
  background-color: black;
  border-radius: 31px;
}
.canvas {
  margin-left: 50px;
  width: 268px;
  height: 268px;
}
.canvas2 {
  margin-left: 50px;
  width: 268px;
  height: 268px;
}
.gambar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.admin {
  font-size: 12px;
  color: black;
  margin-left: 70px;
}
.powered {
  font-size: 11px;
  color: #838790;
  display: flex;
  text-align: center;
  justify-content: center;
}
.securestyle {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}
.txtRate {
  font-size: 16px;
  font-weight: bold;
  color: #1238f7;
  position: absolute;
  margin: 84px 0px 0px 10px;
}
.username2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 16px 16px 50px;
  position: absolute;
  width: 92%;
  margin-top: 70px;
  background-color: transparent;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
}
@media only screen and (max-width: 500px) {
  .form-signin {
    height: 100%;
    align-items: center;
    margin: 0px auto;
  }
}
/* @media only screen and (max-width: 320px) {
  .form-signin {
    position: fixed;
    top: 0%;
    bottom: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
  }
  .maudy {
    font-size: 18px;
  }
  .boxdua {
    width: 240px;
    height: 110px;
  }
  .boxdalam {
    margin-top: -10px;
    width: 95px;
    height: 95px;
  }
  .usernameCard {
    margin-top: -1px;
    font-size: 14px;
  }
  .info {
    margin-top: -10px;
    font-size: 12px;
  }
  .nama {
    width: 90%;
  }
  .email {
    width: 90%;
  }
  .nominal {
    width: 90%;
  }
  .pesan {
    width: 90%;
  }

  .logoovo {
    padding: 0.4em 0.5em;
  }
  .borderchoose {
    padding: 0.4em 0.5em;
  }
  .logogopay {
    padding: 0.15em 0.15em;
  }
  .borderchoosegopay {
    padding: 0.15em 0.15em;
  }
  .logodana {
    padding: 0.15em 0.15em;
  }
  .borderchoosedana {
    padding: 0.15em 0.15em;
  }
  .logolinkaja {
    padding: 0.2em 0.15em;
  }
  .borderchooselinkaja {
    padding: 0.2em 0.15em;
  }
  .logoshopeepay {
    padding: 0.7em 0.9em;
  }
  .borderchooseshopeepay {
    padding: 0.7em 0.9em;
  }
  .logoqris {
    padding: 0em 0.35em;
  }
  .borderchooseqris {
    padding: 0em 0.35em;
  }
  .logotransfer {
    padding: 0.6em 0.75em;
  }
  .borderchoosetransfer {
    padding: 0.6em 0.75em;
  }
  .admin {
    margin-left: 25px;
  }
  .btnSubmit {
    margin-top: 10px;
    width: 250px;
    padding: 0px 18px;
  }
  .text2 {
    margin-left: 105px;
  }
  .btnBedaWarna {
    margin-top: 10px;
    width: 250px;
    padding: 0px 18px;
  }
  .text21 {
    margin-left: 105px;
  }
  .logo1 {
    margin-left: 90px;
  }
  .inputOVO {
    width: 90%;
  }
  .powered {
    margin-right: 20px;
  }
  .securestyle {
    margin-right: 30px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .form-signin {
    position: fixed;
    top: 0%;
    bottom: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
  }
  .maudy {
    font-size: 18px;
  }
  .boxdua {
    width: 290px;
    height: 110px;
  }
  .boxdalam {
    margin-top: -10px;
    width: 95px;
    height: 95px;
  }
  .usernameCard {
    margin-top: -5px;
    font-size: 14px;
  }
  .info {
    margin-top: -15px;
    font-size: 14px;
  }
  .nama {
    width: 90%;
  }
  .email {
    width: 90%;
  }
  .nominal {
    width: 90%;
  }
  .pesan {
    width: 90%;
  }

  .logoovo {
    padding: 0.4em 0.8em;
  }
  .borderchoose {
    padding: 0.4em 0.8em;
  }
  .logogopay {
    padding: 0.15em 0.35em;
  }
  .borderchoosegopay {
    padding: 0.15em 0.35em;
  }
  .logodana {
    padding: 0.15em 0.35em;
  }
  .borderchoosedana {
    padding: 0.15em 0.35em;
  }
  .logolinkaja {
    padding: 0.2em 0.35em;
  }
  .borderchooselinkaja {
    padding: 0.2em 0.35em;
  }
  .logoshopeepay {
    padding: 0.7em 1.2em;
  }
  .borderchooseshopeepay {
    padding: 0.7em 1.2em;
  }
  .logoqris {
    padding: 0em 0.5em;
  }
  .borderchooseqris {
    padding: 0em 0.5em;
  }
  .logotransfer {
    padding: 0.6em 1em;
  }
  .borderchoosetransfer {
    padding: 0.6em 1em;
  }
  .admin {
    margin-left: 50px;
  }
  .btnSubmit {
    margin-top: 10px;
    width: 300px;
    padding: 0px 18px;
  }
  .text2 {
    margin-left: 130px;
  }
  .btnBedaWarna {
    margin-top: 10px;
    width: 300px;
    padding: 0px 18px;
  }
  .text21 {
    margin-left: 130px;
  }
  .logo1 {
    margin-left: 110px;
  }
  .inputOVO {
    width: 90%;
  }
  .powered {
    margin-right: 20px;
  }
  .securestyle {
    margin-right: 30px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .form-signin {
    position: fixed;
    top: 0%;
    left: 10px;
    bottom: 0%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
  }
  .maudy {
    font-size: 18px;
  }
  .boxdua {
    width: 320px;
    height: 110px;
  }
  .boxdalam {
    margin-top: -10px;
    width: 95px;
    height: 95px;
  }
  .usernameCard {
    font-size: 14px;
  }
  .info {
    font-size: 14px;
  }
  .nama {
    width: 100%;
  }
  .email {
    width: 100%;
  }
  .nominal {
    width: 100%;
  }
  .pesan {
    width: 100%;
  }

  .logoovo {
    padding: 0.4em 1.1em;
  }
  .borderchoose {
    padding: 0.4em 1em;
  }
  .logogopay {
    padding: 0.15em 0.65em;
  }
  .borderchoosegopay {
    padding: 0.15em 0.55em;
  }
  .logodana {
    padding: 0.15em 0.65em;
  }
  .borderchoosedana {
    padding: 0.15em 0.55em;
  }
  .logolinkaja {
    padding: 0.2em 0.65em;
  }
  .borderchooselinkaja {
    padding: 0.2em 0.55em;
  }
  .logoshopeepay {
    padding: 0.7em 1.5em;
  }
  .borderchooseshopeepay {
    padding: 0.7em 1.4em;
  }
  .logoqris {
    padding: 0em 0.8em;
  }
  .borderchooseqris {
    padding: 0em 0.7em;
  }
  .logotransfer {
    padding: 0.6em 1.3em;
  }
  .borderchoosetransfer {
    padding: 0.6em 1.2em;
  }
  .admin {
    margin-left: 50px;
  }
  .btnSubmit {
    margin-top: 10px;
    width: 330px;
    padding: 0px 18px;
  }
  .text2 {
    margin-left: 140px;
  }
  .btnBedaWarna {
    margin-top: 10px;
    width: 330px;
    padding: 0px 18px;
  }
  .text21 {
    margin-left: 140px;
  }
  .logo1 {
    margin-left: 120px;
  }
  .securestyle {
    margin-left: 10px;
  }
} */
