@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  background-color: #dcdcdc;
}
@media only screen and (max-width: 600px) {
  .App {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: scroll;
  }
}
.form-signin {
  background-color: white;
  width: 100%;
  height: 790px;
  max-width: 370px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .form-signin {
    height: 100px;
  }
}

.maudy {
  /* margin-bottom: 10px; */
  font-size: 21px;
  margin-left: 8px;
}
@media only screen and (max-width: 600px) {
  .maudy {
    margin-bottom: 10px;
    margin-left: 15px;
  }
}

.boxdua {
  width: 320px;
  height: 130px;
  right: 20px;
  top: -20px;
  border-radius: 16px;
  background-color: white;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 0.5em 1.6em;
  box-shadow: 1px 4px 8px rgb(169, 169, 169);
  position: relative;
}
@media only screen and (max-width: 600px) {
  .boxdua {
    height: 120px;
    top: -20px;
    margin-left: 20px;
    padding: 0.5em 1.6em;
  }
}
.boxdalam {
  width: 100px;
  height: 100px;
  left: 20px;
  top: 25px;
  border-radius: 100%;
  color: white;
  background-color: black;
  margin-bottom: 210px;
  position: absolute;
}
@media only screen and (max-width: 600px) {
  .boxdalam {
    width: 100px;
    height: 100px;
    top: 18px;
  }
}

.info {
  margin-top: 35px;
  margin-left: 110px;
  position: absolute;
  font-size: 16px;
  color: #838790;
}

.btnSubmit {
  margin-top: 30px;
  /* margin-left: 10px; */
  position: relative;
  appearance: none;
  padding: 0.1em 9em;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid white;
  background: #808080;
}
.btnBedaWarna {
  margin-top: 30px;
  /* margin-left: 10px; */
  position: relative;
  appearance: none;
  padding: 0.1em 9em;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid white;
  background: black;
}
@media only screen and (max-width: 600px) {
  .btnSubmit {
    /* margin-right: 25px; */
    padding: 0em 9em;
  }
}
.btnSubmit ::selection {
  background: black;
}
.text2 {
  margin-left: 20px;
  color: white;
}
.text21 {
  margin-left: 20px;
  color: white;
}
@media only screen and (max-width: 600px) {
  .text2 {
    margin-left: 10px;
  }
}

.logo1 {
  margin-left: 130px;
  margin-top: 15px;
}
@media only screen and (max-width: 600px) {
  .logo1 {
    margin-left: 125px;
    margin-top: 5px;
  }
}

.section {
  display: flex;
  justify-content: space-evenly;
}
.section2 {
  display: flex;
  justify-content: space-between;
}

.logoovo {
  padding: 0.5em 1em;
  margin-top: 10px;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
}
.logoovo:hover {
  border-color: black;
}
@media only screen and (max-width: 600px) {
  .logoovo {
    padding: 0.5em 1em;
    margin-top: 10px;
    border: 1px solid #bfc2cb;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
  }
}

.logogopay {
  padding: 0.23em 0.6em;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 7px;
}
.logogopay:hover {
  border-color: black;
}
@media only screen and (max-width: 600px) {
  .logogopay {
    padding: 0.23em 0.6em;
    border: 1px solid #bfc2cb;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    margin-left: 7px;
  }
}

.logodana {
  padding: 0.23em 0.6em;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 7px;
}
.logodana:hover {
  border-color: black;
}

@media only screen and (max-width: 600px) {
  .logodana {
    padding: 0.23em 0.6em;
    border: 1px solid #bfc2cb;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    margin-left: 7px;
  }
}
.logolinkaja {
  padding: 0.23em 0.6em;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
}
.logolinkaja:hover {
  border-color: black;
}
.logolinkaja::selection {
  border-color: black;
}
@media only screen and (max-width: 600px) {
  .logolinkaja {
    padding: 0.23em 0.6em;
    border: 1px solid #bfc2cb;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
  }
}
.logoshopeepay {
  padding: 0.75em 1.4em;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  /* margin-left: 7px; */
  margin-top: 10px;
}
.logoshopeepay:hover {
  border-color: black;
}
.logoshopeepay::selection {
  border-color: black;
}
@media only screen and (max-width: 600px) {
  .logoshopeepay {
    padding: 0.75em 1.4em;
    border: 1px solid #bfc2cb;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    /* margin-left: 7px; */
    margin-top: 10px;
  }
}
.logoqris {
  padding: 0em 0.7em;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 6px;
}
.logoqris:hover {
  border-color: black;
}
.logoqris::selection {
  border-color: black;
}
@media only screen and (max-width: 600px) {
  .logoqris {
    padding: 0em 0.8em;
    border: 1px solid #bfc2cb;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    margin-left: 5px;
  }
}
.logotransfer {
  padding: 0.6em 1.3em;
  border: 1px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 6px;
}
.logotransfer:hover {
  border-color: black;
}
.logotransfer::selection {
  border-color: black;
}
@media only screen and (max-width: 600px) {
  .logotransfer {
    padding: 0.6em 1.2em;
    border: 1px solid #bfc2cb;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    margin-left: 5px;
  }
}
.validateOvo {
  border: 1px solid black;
  padding: 12px 30px;
  margin: 10px 80px;
  border-radius: 8px;
  background: white;
  border-color: #bfc2cb;
}
@media only screen and (max-width: 600px) {
  .validateOvo {
    margin-left: 110px;
  }
}
.total {
  display: flex;
  justify-content: center;
}
.set {
  color: red;
  font-size: 14px;
}
.inputNama {
  width: 100%;
  padding: 3px 20px;
  /* margin-bottom: 10px; */
  margin: 10px 0px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: "center";
  background-color: "white";
  box-sizing: border-box;
  border-radius: 8px;
}
.namaLabel {
  margin: 0px 0px;
  font-weight: normal;
  color: #838790;
}
.nama {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
}
.inputEmail {
  width: 100%;
  padding: 3px 20px;
  /* margin-bottom: 10px; */
  margin: 10px 0px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: "center";
  background-color: "white";
  box-sizing: border-box;
  border-radius: 8px;
}
.emailLabel {
  margin: 0px 0px;
  font-weight: normal;
  color: #838790;
}
.email {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
}
.inputNominal {
  width: 100%;
  padding: 3px 20px;
  /* margin-bottom: 10px; */
  margin: 10px 0px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: "center";
  background-color: "white";
  box-sizing: border-box;
  border-radius: 8px;
}
.nominalLabel {
  margin: 0px 0px;
  font-weight: normal;
  color: #838790;
}
.nominal {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
}
.inputPesan {
  width: 100%;
  padding: 10px 20px;
  /* margin-bottom: 10px; */
  margin: 5px 0px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: "center";
  background-color: "white";
  box-sizing: border-box;
  border-radius: 8px;
}
.pesanLabel {
  margin: 0px 0px;
  font-weight: normal;
  color: #838790;
}
.pesan {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
}
.inputOVO {
  width: 100%;
  padding: 3px 20px;
  /* margin-bottom: 10px; */
  margin: 5px 0px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: "center";
  background-color: "white";
  box-sizing: border-box;
  border-radius: 8px;
}
.OVOLabel {
  margin: 0px 0px;
  font-weight: normal;
  color: #838790;
}
.number {
  font-size: 16px;
  padding: 1px;
  margin: 0 0;
  color: black;
}
.ovo {
  font-size: 16px;
  border: none;
  box-shadow: none;
  outline: none !important;
}
.usernameCard {
  margin-left: 110px;
  font-size: 18px;
  color: black;
  position: absolute;
  margin-top: 10px;
}
.borderchoose {
  padding: 0.5em 1em;
  margin-top: 10px;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border-color: #006aff;
}

.borderchoosegopay {
  padding: 0.23em 0.6em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 7px;
  border-color: #006aff;
}
.borderchoosedana {
  padding: 0.23em 0.6em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 7px;
  border-color: #006aff;
}
.borderchooselinkaja {
  padding: 0.23em 0.6em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border-color: #006aff;
}
.borderchooseshopeepay {
  padding: 0.75em 1.4em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-top: 10px;
  border-color: #006aff;
}
@media only screen and (max-width: 600px) {
  .borderchooseshopeepay {
    padding: 0.75em 1.4em;
    border: 2px solid #bfc2cb;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    margin-top: 10px;
    border-color: #006aff;
  }
}
.borderchooseqris {
  padding: 0em 0.8em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 5px;
  border-color: #006aff;
}
.borderchoosetransfer {
  padding: 0.6em 1.2em;
  border: 2px solid #bfc2cb;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  margin-left: 5px;
  border-color: #006aff;
}
.customPopup {
  margin-left: 10px;
  background-color: red;
}
.buttonQr {
  cursor: pointer;
  width: 345px;
  height: 55px;
  border-color: black;
  background-color: black;
  border-radius: 31px;
}
.canvas {
  margin-left: 50px;
  width: 268px;
  height: 268px;
}
.gambar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
