@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  background-color: white;
  /* padding-top: 40px;
  padding-bottom: 40px; */
  /* background-color: #dcdcdc; */
}
/* html,
body,
:root,
.App {
  height: 100%;
  position: fixed;
  overflow: auto;
} */
.form-signin {
  background-color: white;
  height: 790px;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
  position: relative;
}
.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
}

.sandi {
  /* margin-bottom: 35px; */
  margin-left: 37px;
}

.ForgetPwd {
  color: #21242b;
  font-weight: 500;
  text-decoration: none;
  margin-left: 180px;
}
.btnSubmit {
  cursor: pointer;
  width: 343px;
  height: 46px;
  border: 1px solid;
  border-color: white;
  background-color: #21242b;
  border-radius: 100px;
  margin-top: 30px;
}
.text {
  color: white;
  text-align: center;
}
.img {
  position: absolute;
  cursor: pointer;
  width: 20px;
  margin-top: 20px;
  right: 30px;
}
.text-center1 {
  color: #838790;
  text-align: center;
}
.text-center2 {
  color: #21242b;
  text-align: center;
}
.set {
  color: red;
}
.datang {
  width: 209px;
  height: 62px;
  font-size: 24px;
}
.datang2 {
  width: 209px;
  height: 62px;
  font-size: 24px;
}
@media only screen and (max-width: 320px) {
  .form-signin {
    position: fixed;
    height: 100%;
    padding: 20px;
  }
  .logo {
    width: 100px;
  }
  .form-control {
    width: 90%;
  }
  .img {
    width: 20px;
    margin-right: 30px;
  }
  .sandi {
    margin-left: -10%;
  }
  .btnSubmit {
    width: 90%;
    height: 55px;
  }
  .text {
    color: white;
    text-align: center;
  }
  .text-center1 {
    margin-right: 30px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .form-signin {
    position: fixed;
    height: 100%;
    padding: 20px;
  }
  .logo {
    width: 100px;
  }
  .form-control {
    width: 90%;
  }
  .img {
    width: 20px;
    margin-right: 40px;
  }
  .sandi {
    margin-left: 5%;
  }
  .text-center1 {
    margin-right: 30px;
  }
  .btnSubmit {
    width: 90%;
    height: 55px;
  }
  .text {
    color: white;
    text-align: center;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .form-signin {
    position: fixed;
    height: 100%;
    margin-top: 10%;
    margin-left: 5%;
  }
  .logo {
    width: 100px;
  }
  .form-control {
    width: 95%;
  }
  .img {
    width: 20px;
    margin-right: 40px;
  }
  .sandi {
    margin-left: 5%;
  }
  .text-center1 {
    margin-right: 30px;
  }
  .btnSubmit {
    width: 95%;
    height: 55px;
  }
  .text {
    color: white;
    text-align: center;
  }
}
