@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  /* padding-top: 40px;
  padding-bottom: 40px; */
  background-color: #dcdcdc;
}
.form-signin {
  background-color: white;
  width: 100%;
  height: 900px;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
}
.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.sandi {
  margin-bottom: 35px;
  margin-left: 37px;
}

.ForgetPwd {
  color: #21242b;
  font-weight: 500;
  text-decoration: none;
  margin-left: 180px;
}
.btnSubmit {
  margin-left: 10px;
  position: relative;
  appearance: none;
  padding: 0.1em 9em;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid white;
  background: #21242b;
  margin-top: 30px;
}
.text {
  color: white;
  text-align: center;
}
.img {
  position: absolute;
  cursor: pointer;
  width: 20px;
  margin-top: 20px;
  margin-right: 200px;
  right: -160px;
}
.text-center1 {
  color: #838790;
  text-align: center;
}
.text-center2 {
  color: #21242b;
  text-align: center;
}
.set {
  color: red;
}
