@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  /* padding-top: 40px;
  padding-bottom: 40px; */
  /* background-color: #dcdcdc; */
  background-color: white;
}
.form-signin {
  background-color: white;
  width: 100%;
  height: 790px;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
}
.boxdua {
  cursor: pointer;
  width: 100%;
  padding: 0 8px;
  margin-left: -10px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;
  box-shadow: 4px 5px 10px rgb(169, 169, 169);
}
.a {
  border-radius: 5px;
  border: 1px;
  margin-left: 5px;
  margin-bottom: 8px;
  cursor: pointer;
}
/* .img {
  margin-left: 10px;
} */
.redd {
  margin-left: 330px;
  display: flex;
}
.notifikasi {
  font-size: 24px;
  margin-left: 30px;
}
.message {
  font-size: 14px;
  /* float: left; */
}
.detailbox {
  width: 331px;
  height: 410px;
  border: 1px solid black;
  margin-top: 30px;
  margin-left: 10px;
}
.detailbox2 {
  width: 331px;
  height: 51px;
  background-color: #1238f7;
  border: 1px solid transparent;
}
.detailbtn {
  width: 228px;
  height: 36px;
  border: 1px solid black;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  margin: 2rem 4rem;
}
@media only screen and (max-width: 500px) {
  .form-signin {
    height: 100%;
    align-items: center;
    margin: 0px auto;
  }
}
/* @media only screen and (max-width: 320px) {
  .form-signin {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .boxdua {
    width: 90%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .form-signin {
    position: fixed;
    top: 0%;
    bottom: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    left: 0%;
    padding: 15px;
  }
  .notifikasi {
    margin-left: 5px;
  }
  .arrow {
    margin-left: 5px;
  }
  .boxdua {
    width: 95%;
    margin-left: -5px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .form-signin {
    position: fixed;
    top: 0%;
    bottom: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    left: 0%;
    padding: 25px;
  }
  .notifikasi {
    margin-left: 10px;
  }
  .arrow {
    margin-left: 10px;
  }
  .boxdua {
    width: 100%;
    margin-left: 0px;
  }
} */
