@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");

* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  /* background-color: #dcdcdc; */

  /* width: 100%; */
  /* max-width: 370px; */
  /* margin-bottom: 390px; */
  /* margin: 0px auto; */
  /* position: relative; */
}
@media only screen and(max-width: 320px) {
  .App {
    background-color: white;
  }
}
@media only screen and (max-width: 375px) {
  .App {
    background-color: white;
  }
}
@media only screen and (max-width: 425px) {
  .App {
    background-color: white;
  }
}

.form-signin {
  background-color: white;
  width: 100%;
  height: 2568px;
  max-width: 370px;
  margin-bottom: 390px;
  margin: 0px auto;
  position: relative;
}
@media only screen and (max-width: 320px) {
  .form-signin {
    width: 100%;
    height: 2400px;
    /* max-width: 450px; */
  }
}
@media only screen and (max-width: 375px) {
  .form-signin {
    width: 100%;
    max-width: 400px;
    /* height: 2400px; */
    /* max-width: 450px; */
  }
}
@media only screen and (max-width: 425px) {
  .form-signin {
    max-width: 400px;
    width: 100%;
    height: 2400px;
  }
}
/* @media only screen and (max-width: 425px) {
  .form-signin {
    max-width: 425px;
    width: 100%;
    height: 2400px;
  }
} */
.textlogin {
  color: black;
  font-size: 14px;
}
.buttonLogin {
  margin-top: 20px;
  margin-left: 125px;
  width: 93px;
  height: 36px;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 1px solid #21242b;
  background: transparent;
}
@media only screen and (max-width: 320px) {
  .buttonLogin {
    margin-left: 90px;
  }
}
/* @media only screen and (max-width: 425px) {
  .buttonLogin {
    margin-left: 150px;
  }
} */

.latar {
  text-align: center;
  width: 320px;
}
@media only screen and (max-width: 320px) {
  .latar {
    width: 300px;
    /* margin-right: 10px; */
  }
}
/* @media only screen and (max-width: 425px) {
  .latar {
    width: 350px;
  }
} */
.logo {
  margin-top: 20px;
  margin-left: 20px;
}
/* @media only screen and (device-width: 425px) {
  .logo {
    margin-left: 30px;
  }
} */
/* @media only screen and (max-width: 375px) {
  .logo {
    margin-left: 40px;
  }
} */

.menu {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 15px;
  margin-left: 130px;
}
/* @media only screen and (max-width: 320px) {
  .menu {
    left: -70px;
  }
} */

.dropdown {
  position: absolute;
  flex-direction: column;
  /* align-items: space-between; */
  box-shadow: 0px 10px 10px gray;
  margin: 30px 80px;
  z-index: 1;
  background-color: white;
  width: 160px;
  display: none;
}
.dropdown a {
  text-decoration: none;
  color: black;
  padding: 10px;
  /*   margin: 20px; */
  font-size: 15px;
  display: block;
  position: relative;
}
.dropdown a:hover {
  background-color: #464646;
  color: white;
}
.menu:hover .dropdown {
  display: block;
}
.textBold {
  /* margin-left: 50px; */
  margin-right: 10px;
  position: absolute;
  width: 279px;
  height: 480px;
  color: #ffffff;
  padding-bottom: 70px;
  /* padding-left: 70px; */
}
/* @media only screen and (max-width: 320px) {
  .textBold {
    margin-left: 10px;
    margin-right: 40px;
    margin-top: 30px;
  }
} */
.TentangKami {
  margin-top: 10px;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  position: relative;
}
/* .text {
  margin-left: 10px;
} */
/* @media only screen and (max-width: 320px) {
  .TentangKami {
    margin-left: 10px;
    margin-right: 20px;
  }
} */
.atas {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
@media only screen and (max-width: 320px) {
  .atas {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 425px) {
  .atas {
    margin-left: 20px;
  }
}
.text {
  margin-top: 30px;
  margin-left: 1px;
  position: absolute;
  width: 293px;
  height: 160px;
  color: #eff0f2;
  font-size: 14px;
}
/* @media only screen and (max-width: 320px) {
  .text {
    margin-left: 10px;
    margin-right: 40px;
    margin-top: 30px;
  }
} */

.button {
  margin-right: 135px;
  margin-top: 300px;
  position: absolute;
  appearance: none;
  padding: 2px 20px;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid white;
  background: transparent;
}
@media only screen and (max-width: 320px) {
  .button {
    width: 50%;
    left: 5px;
    /* right: 70px; */
    /* width: 100%; */
  }
}
@media only screen and (max-width: 425px) {
  .button {
    bottom: 100px;
    right: 70px;
    /* width: 100%; */
  }
}
.judul {
  font-size: 14px;
  color: #21242b;
  margin: 2px 4px 8px 16px;
}
/* @media only screen and (max-width: 320px) {
  .judul {
    margin-right: 10px;
    font-size: 12px;
  }
} */
.isi1 {
  font-size: 14px;
  color: #21242b;
  margin: 5px 10px 20px 40px;
}
/* @media only screen and (max-width: 320px) {
  .isi1 {
    margin-right: 10px;
    font-size: 12px;
    font-size: 11px;
  }
} */
.isi2 {
  font-size: 14px;
  color: #21242b;
  margin: 5px 10px 20px 40px;
}
/* @media only screen and (max-width: 320px) {
  .isi2 {
    margin-right: 10px;
    font-size: 12px;
    font-size: 11px;
  }
} */
.isi3 {
  font-size: 14px;
  color: #21242b;
  margin: 5px 10px 20px 40px;
}
/* @media only screen and (max-width: 320px) {
  .isi3 {
    margin-right: 10px;
    font-size: 12px;
    font-size: 11px;
  }
} */
.isi4 {
  font-size: 14px;
  color: #21242b;
  margin: 5px 10px 20px 40px;
}
/* @media only screen and (max-width: 320px) {
  .isi4 {
    margin-right: 10px;
    font-size: 12px;
    font-size: 11px;
  }
} */
.use {
  font-size: 18px;
  color: #21242b;
  margin-left: 12px;
}
@media only screen and (max-width: 320px) {
  .use {
    margin-left: 20px;
  }
}
.imgwhy1 {
  margin-top: 20px;
  max-width: 330px;
  margin-left: 12px;
  border-radius: 4px;
}
@media only screen and (max-width: 320px) {
  .imgwhy1 {
    margin-left: 25px;
    width: 280px;
  }
}
.imgwhy2 {
  margin-top: 10px;
  max-width: 330px;
  margin-left: 12px;
  border-radius: 4px;
}
@media only screen and (max-width: 320px) {
  .imgwhy2 {
    margin-left: 25px;
    width: 280px;
  }
}
.imgwhy3 {
  margin-top: 10px;
  max-width: 330px;
  margin-left: 12px;
  border-radius: 4px;
}
@media only screen and (max-width: 320px) {
  .imgwhy3 {
    margin-left: 25px;
    width: 280px;
  }
}
.choose {
  position: absolute;
  height: 300px;
  width: 500px;
}

.gambar1 {
  position: absolute;
  margin-left: 28px;
}
@media only screen and (max-width: 320px) {
  .gambar1 {
    margin-left: 1px;
  }
}
@media only screen and (max-width: 425px) {
  .gambar1 {
    margin-left: 40px;
  }
}

.KK {
  position: absolute;
  font-size: 12px;
  height: 90px;
  width: 100px;
  color: white;
  margin-top: 35px;
  margin-left: 25px;
}
@media only screen and (max-width: 320px) {
  .KK {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 425px) {
  .KK {
    margin-left: 40px;
  }
}
.VA {
  position: absolute;
  font-size: 12px;
  height: 100px;
  color: white;
  margin-top: 50px;
  margin-left: 145px;
}
@media only screen and (max-width: 320px) {
  .VA {
    margin-left: 112px;
  }
}
@media only screen and (max-width: 425px) {
  .VA {
    margin-left: 155px;
  }
}

.E-Wallet {
  font-size: 12px;
  position: absolute;
  color: white;
  height: 100px;
  margin-left: 275px;
  margin-top: 50px;
}
@media only screen and (max-width: 320px) {
  .E-Wallet {
    margin-left: 230px;
  }
}
@media only screen and (max-width: 425px) {
  .E-Wallet {
    margin-left: 285px;
  }
}

.TentangKami2 {
  margin-top: 150px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  position: relative;
}

.textblack {
  margin-left: 40px;
  width: 260px;
  font-size: 18px;
  position: absolute;
  color: #ffffff;
  height: 100px;
  /* margin-bottom: 20px; */
}

.rules {
  margin-top: 50px;
  margin-left: 20px;
  height: 100px;
  position: relative;
}

.b {
  margin-left: 30px;
}
.c {
  margin-left: 30px;
}
.d {
  margin-left: 30px;
}
.e {
  margin-left: 30px;
}

.why {
  position: relative;
  margin-top: 265px;
  margin-right: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* @media only screen and (max-width: 425px) {
  .why {
    margin-left: 45px;
  }
} */

.f {
  margin-left: 15px;
  /* height: 100px; */
  position: relative;
}

.g {
  height: 30px;
}

.img1 {
  margin-left: 70px;
  margin-top: -285px;
  position: absolute;
  /* width: 200px; */
  color: #ffffff;
  /* font-size: 13px; */
}
@media only screen and (max-width: 320px) {
  .img1 {
    margin-left: 80px;
    margin-top: -260px;
  }
}

.img2 {
  margin-left: 70px;
  margin-top: -175px;
  position: absolute;
  /* width: 200px; */
  color: #ffffff;
  /* font-size: 13px; */
}
@media only screen and (max-width: 320px) {
  .img2 {
    margin-left: 80px;
    margin-top: -160px;
  }
}

.img3 {
  margin-left: 70px;
  margin-top: -80px;
  position: absolute;
  /* width: 200px; */
  color: #ffffff;
  /* font-size: 13px; */
}
@media only screen and (max-width: 320px) {
  .img3 {
    margin-left: 80px;
    margin-top: -77px;
  }
}

.n {
  margin-left: 12px;
  margin-top: 40px;
}

.cocok {
  position: relative;
}

.box1 {
  width: 100%;
  height: 315px;
  background: black;
  margin-top: 40px;
  position: absolute;
}
@media only screen and (max-width: 425px) {
  .box1 {
    width: 100%;
  }
}

.fot1 {
  margin-top: 50px;
  margin-left: 20px;
  /* right: 20px; */
  /* margin-left: 20px; */
}
/* @media only screen and (max-width: 768px) and (min-width: 425px) {
  .fot1 {
    margin-left: 100px;
  }
} */

h6 {
  margin-left: 10px;
  color: #eff0f2;
}

.p1 {
  color: white;
}
.p2 {
  color: white;
}

.p3 {
  color: white;
}

.boxdua {
  width: 300px;
  height: 100px;
  left: 25px;
  top: 50px;
  border-radius: 5px;
  background-color: white;
  z-index: 2;
  position: absolute;
  margin-top: -90px;
  margin-left: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.pay {
  text-align: center;
  font-size: 15px;
}
.by {
  text-align: center;
  color: black;
}
.menu2 {
  position: relative;
  margin-left: 160px;
}
/* @media only screen and (max-width: 320px) {
  .menu2 {
    left: 15px;
  }
} */
.section {
  display: flex;
  justify-content: space-evenly;
}
.cocok1 {
  margin-bottom: 10px;
}
@media only screen and (max-width: 320px) {
  .cocok1 {
    /* width: 90px; */
    margin-left: 7px;
  }
}
.cocok2 {
  margin-bottom: 10px;
  margin-left: 4px;
}
/* @media only screen and (max-width: 320px) {
  .cocok2 {
    width: 110px;
  }
} */
.cocok3 {
  margin-bottom: 10px;
  margin-left: 4px;
}
/* @media only screen and (max-width: 320px) {
  .cocok3 {
    width: 70px;
  }
} */
.cocok4 {
  margin-bottom: 10px;
  /* margin-left: 5px; */
}
/* @media only screen and (max-width: 320px) {
  .cocok4 {
    width: 90px;
  }
} */
.cocok5 {
  margin-bottom: 10px;
  margin-left: 4px;
}
/* @media only screen and (max-width: 320px) {
  .cocok5 {
    width: 70px;
  }
} */
.cocok6 {
  margin-bottom: 10px;
  margin-left: 4px;
}
/* @media only screen and (max-width: 320px) {
  .cocok6 {
    width: 80px;
    margin-left: 10px;
  }
} */
.cocok7 {
  margin-bottom: 10px;
  /* margin-left: 5px; */
}
/* @media only screen and (max-width: 320px) {
  .cocok7 {
    width: 95px;
  }
} */
.tes {
  margin-left: 9px;
}

/* @media only screen and (max-width: 320px) {
  .tes {
    margin-left: 15px;
  }
} */
.group {
  margin-top: 150px;
  width: 100%;
}
@media only screen and (max-width: 425px) {
  .group {
    width: 100%;
  }
}
.text10 {
  margin-top: 30px;
  font-size: 18px;
  /* margin-left: 17px; */
}
/* @media only screen and (max-width: 425px) {
  .text10 {
    margin-left: 5px;
    font-size: 13px;
  }
} */

.text11 {
  font-size: 14px;
}
/* @media only screen and (max-width: 320px) {
  .text11 {
    margin-left: 20px;
    font-size: 13px;
  }
} */
.text12 {
  color: #006aff;
  font-size: 14px;
}
.accept {
  margin-left: 30px;
}
@media only screen and (max-width: 320px) {
  .accept {
    margin-left: 15px;
  }
}
@media only screen and (max-width: 425px) {
  .accept {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 320px) {
  .gmb1 {
    width: 90px;
    height: 90px;
    margin-left: 15px;
  }
}

.gmb2 {
  margin-left: 5px;
}
@media only screen and (max-width: 320px) {
  .gmb2 {
    width: 90px;
    height: 90px;
    margin-left: 5px;
  }
}
/* @media only screen and (max-width: 425px) {
  .gmb2 {
    margin-left: 15px;
  }
} */

.gmb3 {
  margin-left: 5px;
}
@media only screen and (max-width: 320px) {
  .gmb3 {
    margin-left: 5px;
    width: 90px;
    height: 90px;
  }
}
/* @media only screen and (max-width: 425px) {
  .gmb {
    margin-left: 15px;
  }
} */
