@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");

* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  background-color: white;
}
.form-signin {
  background-color: white;
  width: 100%;
  height: 2568px;
  max-width: 370px;
  margin-bottom: 390px;
  margin: 0px auto;
  position: relative;
}

.textlogin {
  color: black;
  font-size: 14px;
}
.buttonLogin {
  margin-top: 20px;
  margin-left: 125px;
  width: 93px;
  height: 36px;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 1px solid #21242b;
  background: transparent;
}
.latar {
  text-align: center;
  width: 320px;
}
.logo {
  margin-top: 20px;
  margin-left: 20px;
}
.menu {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 15px;
  margin-left: 130px;
}

.dropdown {
  position: absolute;
  flex-direction: column;
  box-shadow: 0px 10px 10px gray;
  margin: 30px 80px;
  z-index: 1;
  background-color: white;
  width: 160px;
  display: none;
}
.dropdown a {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 15px;
  display: block;
  position: relative;
}
.dropdown a:hover {
  background-color: #464646;
  color: white;
}
.menu:hover .dropdown {
  display: block;
}
.textBold {
  margin-right: 10px;
  position: absolute;
  width: 279px;
  height: 480px;
  color: #ffffff;
  padding-bottom: 70px;
}
.TentangKami {
  margin-top: 10px;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  position: relative;
}
.atas {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.text {
  margin-top: 30px;
  margin-left: 1px;
  position: absolute;
  width: 293px;
  height: 160px;
  color: #eff0f2;
  font-size: 14px;
}

.button {
  bottom: 100px;
  right: 180px;
  position: fixed;
  position: absolute;
  padding: 2px 20px;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: 2px solid white;
  background: transparent;
}

.judul {
  font-size: 14px;
  color: #21242b;
  margin: 2px 4px 8px 16px;
}
.isi1 {
  font-size: 14px;
  color: #21242b;
  margin: 5px 10px 20px 40px;
}
.isi2 {
  font-size: 14px;
  color: #21242b;
  margin: 5px 10px 20px 40px;
}
.isi3 {
  font-size: 14px;
  color: #21242b;
  margin: 5px 10px 20px 40px;
}
.isi4 {
  font-size: 14px;
  color: #21242b;
  margin: 5px 10px 20px 40px;
}
.use {
  font-size: 18px;
  color: #21242b;
  margin-left: 12px;
}
.imgwhy1 {
  margin-top: 20px;
  max-width: 330px;
  margin-left: 12px;
  border-radius: 4px;
}
.imgwhy2 {
  margin-top: 10px;
  max-width: 330px;
  margin-left: 12px;
  border-radius: 4px;
}

.imgwhy3 {
  margin-top: 10px;
  max-width: 330px;
  margin-left: 12px;
  border-radius: 4px;
}

.choose {
  position: absolute;
  height: 300px;
  width: 500px;
}

.gambar1 {
  position: absolute;
  margin-left: 28px;
}

.KK {
  position: absolute;
  font-size: 12px;
  height: 90px;
  width: 100px;
  color: white;
  margin-top: 35px;
  margin-left: 25px;
}

.VA {
  position: absolute;
  font-size: 12px;
  height: 100px;
  color: white;
  margin-top: 50px;
  margin-left: 145px;
}

.E-Wallet {
  font-size: 12px;
  position: absolute;
  color: white;
  height: 100px;
  margin-left: 275px;
  margin-top: 50px;
}

.TentangKami2 {
  margin-top: 150px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  position: relative;
}

.textblack {
  margin-left: 40px;
  width: 260px;
  font-size: 18px;
  position: absolute;
  color: #ffffff;
  height: 100px;
}

.rules {
  margin-top: 50px;
  margin-left: 20px;
  height: 100px;
  position: relative;
}

.b {
  margin-left: 30px;
}
.c {
  margin-left: 30px;
}
.d {
  margin-left: 30px;
}
.e {
  margin-left: 30px;
}

.why {
  position: relative;
  margin-top: 265px;
  margin-right: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.f {
  margin-left: 15px;
  position: relative;
}

.g {
  height: 30px;
}

.img1 {
  margin-left: 70px;
  margin-top: -285px;
  position: absolute;
  color: #ffffff;
}

.img2 {
  margin-left: 70px;
  margin-top: -175px;
  position: absolute;
  color: #ffffff;
}

.img3 {
  margin-left: 70px;
  margin-top: -80px;
  position: absolute;
  color: #ffffff;
}
.n {
  margin-left: 12px;
  margin-top: 40px;
}

.cocok {
  position: relative;
}

.box1 {
  width: 100%;
  height: 315px;
  background: black;
  margin-top: 40px;
  position: absolute;
}
.fot1 {
  margin-top: 50px;
  margin-left: 20px;
}

h6 {
  margin-left: 10px;
  color: #eff0f2;
}

.p1 {
  color: white;
}
.p2 {
  color: white;
}

.p3 {
  color: white;
}

.boxdua {
  width: 300px;
  height: 100px;
  left: 25px;
  top: 50px;
  border-radius: 5px;
  background-color: white;
  z-index: 2;
  position: absolute;
  margin-top: -90px;
  margin-left: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.pay {
  text-align: center;
  font-size: 15px;
}
.by {
  text-align: center;
  color: black;
}
.menu2 {
  position: relative;
  margin-left: 160px;
}
.section {
  display: flex;
  justify-content: space-evenly;
}
.cocok1 {
  margin-bottom: 10px;
}

.cocok2 {
  margin-bottom: 10px;
  margin-left: 4px;
}
.cocok3 {
  margin-bottom: 10px;
  margin-left: 4px;
}
.cocok4 {
  margin-bottom: 10px;
}
.cocok5 {
  margin-bottom: 10px;
  margin-left: 4px;
}

.cocok6 {
  margin-bottom: 10px;
  margin-left: 4px;
}
.cocok7 {
  margin-bottom: 10px;
}
.tes {
  margin-left: 9px;
}

.group {
  margin-top: 150px;
  width: 100%;
}
.text10 {
  margin-top: 30px;
  font-size: 18px;
}

.text11 {
  font-size: 14px;
}
.text12 {
  color: #006aff;
  font-size: 14px;
}
.accept {
  margin-left: 30px;
}

.gmb2 {
  margin-left: 5px;
}

.gmb3 {
  margin-left: 5px;
}
@media only screen and (max-width: 320px) {
  .form-signin {
    width: 100%;
    height: 100%;
  }
  .accept {
    margin-left: 15px;
  }
  .gmb3 {
    margin-left: 5px;
    width: 90px;
    height: 90px;
  }
  .gmb2 {
    width: 90px;
    height: 90px;
    margin-left: 5px;
  }
  .gmb1 {
    width: 90px;
    height: 90px;
    margin-left: 15px;
  }
  .buttonLogin {
    margin-left: 80px;
  }
  .latar {
    width: 290px;
  }
  .atas {
    margin-right: 10px;
  }
  .button {
    padding: 0px 20px;
    margin-left: 20px;
  }
  .imgwhy1 {
    margin-left: 25px;
    width: 280px;
  }
  .use {
    margin-left: 20px;
  }
  .imgwhy3 {
    margin-left: 25px;
    width: 280px;
  }
  .imgwhy2 {
    margin-left: 25px;
    width: 280px;
  }
  .gambar1 {
    margin-left: 1px;
  }
  .cocok1 {
    margin-left: 7px;
  }
  .img3 {
    margin-left: 80px;
    margin-top: -77px;
  }
  .img2 {
    margin-left: 80px;
    margin-top: -160px;
  }
  .img1 {
    margin-left: 80px;
    margin-top: -260px;
  }
  .E-Wallet {
    margin-left: 230px;
  }
  .VA {
    margin-left: 112px;
  }
  .KK {
    margin-left: 10px;
  }
  .textBold {
    margin-top: 30px;
    width: 260px;
  }
  .text {
    text-align: left;
    font-size: 12px;
    margin-left: 20px;
  }
  .why {
    margin-top: 330px;
  }
  .tes {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .form-signin {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    bottom: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    left: 0%;
  }
  .accept {
    margin-left: 30px;
  }
  .gmb3 {
    margin-left: 10px;
    width: 100px;
    height: 100px;
  }
  .gmb2 {
    width: 100px;
    height: 100px;
    margin-left: 10px;
  }
  .gmb1 {
    width: 100px;
    height: 100px;
  }
  .buttonLogin {
    margin-left: 110px;
  }
  .latar {
    width: 320px;
    margin-right: 10px;
  }
  .atas {
    margin-right: 10px;
  }
  .button {
    padding: 5px 20px;
    right: 180px;
  }
  .imgwhy1 {
    margin-left: 25px;
    width: 280px;
  }
  .use {
    margin-left: 20px;
  }
  .imgwhy3 {
    margin-left: 25px;
    width: 280px;
  }
  .imgwhy2 {
    margin-left: 25px;
    width: 280px;
  }
  .cocok1 {
    margin-left: 7px;
  }
  .img3 {
    margin-left: 80px;
    margin-top: -77px;
  }
  .img2 {
    margin-left: 80px;
    margin-top: -160px;
  }
  .img1 {
    margin-left: 80px;
    margin-top: -260px;
  }
  .E-Wallet {
    margin-left: 275px;
  }
  .VA {
    margin-left: 145px;
  }
  .KK {
    margin-left: 25px;
  }
  .textBold {
    width: 260px;
    margin-right: 30px;
  }
  .text {
    text-align: left;
    font-size: 12px;
  }
  .why {
    margin-top: 330px;
  }
  .tes {
    margin-left: 40px;
  }
  .rules {
    margin-left: 40px;
  }
  .fot1 {
    margin-left: 40px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .form-signin {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    bottom: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    left: 0%;
    max-width: 450px;
  }
  .accept {
    margin-left: 50px;
  }
  .gmb3 {
    margin-left: 10px;
    width: 100px;
    height: 100px;
  }
  .gmb2 {
    width: 100px;
    height: 100px;
    margin-left: 10px;
  }
  .gmb1 {
    width: 100px;
    height: 100px;
    margin-left: 25px;
  }
  .buttonLogin {
    margin-left: 110px;
  }
  .latar {
    width: 320px;
    margin-left: 10px;
  }
  .atas {
    margin-left: 30px;
  }
  .button {
    padding: 5px 20px;
    right: 210px;
  }
  .imgwhy1 {
    margin-left: 20px;
    width: 330px;
  }
  .use {
    margin-left: 20px;
  }
  .imgwhy3 {
    margin-left: 20px;
    width: 330px;
  }
  .imgwhy2 {
    margin-left: 20px;
    width: 330px;
  }
  .cocok1 {
    margin-left: 7px;
  }
  .cocok4 {
    margin-left: 7px;
  }
  .cocok7 {
    margin-left: 7px;
  }
  .img3 {
    margin-left: 80px;
    margin-top: -82px;
  }
  .img2 {
    margin-left: 80px;
    margin-top: -180px;
  }
  .img1 {
    margin-left: 80px;
    margin-top: -290px;
  }
  .E-Wallet {
    margin-left: 300px;
  }
  .VA {
    margin-left: 170px;
  }
  .KK {
    margin-left: 50px;
  }
  .textBold {
    width: 260px;
    margin-right: 10px;
  }
  .text {
    text-align: left;
    margin-left: 10px;
    font-size: 12px;
  }
  .why {
    margin-top: 330px;
  }
  .tes {
    margin-left: 30px;
  }
  .rules {
    margin-left: 40px;
  }
  .fot1 {
    margin-left: 30px;
  }
}
