@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}
.App {
  background-color: white;
}
.form-signin {
  background-color: white;
  width: 100%;
  height: 790px;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
}
.buttonQr {
  cursor: pointer;
  width: 345px;
  height: 55px;
  border: 1px solid;
  border-color: white;
  background-color: #1238f7;
  border-radius: 31px;
}
.gambar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.canvas {
  margin-left: 60px;
  width: 268px;
  height: 268px;
}
.judul {
  text-align: center;
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.arrow {
  position: absolute;
}
.description {
  font-size: 12px;
  color: "#838790";
  margin-left: 50px;
  color: #838790;
}
@media only screen and (max-width: 320px) {
  .form-signin {
    position: fixed;
    background-color: white;
  }
  .judul {
    margin-right: 10px;
  }
  .gambar {
    margin-right: 20px;
  }
  .canvas {
    margin-left: 40px;
  }
  .description {
    margin-left: 20px;
    font-size: 12px;
  }
  .buttonQr {
    width: 290px;
    height: 55px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .form-signin {
    position: fixed;
    background-color: white;
  }
  .judul {
    margin-right: 0px;
  }
  .gambar {
    margin-right: 0px;
  }
  .canvas {
    margin-left: 60px;
  }
  .description {
    font-size: 12px;
    margin-left: 50px;
  }
  .buttonQr {
    margin-left: 10px;
    width: 330px;
    height: 55px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .form-signin {
    position: fixed;
    background-color: white;
    padding: 15px;
  }
  .judul {
    margin-left: 30px;
  }
  .gambar {
    margin-left: 60px;
    justify-content: space-between;
  }
  .canvas {
    margin-left: 80px;
  }
  .description {
    font-size: 12px;
    margin-left: 70px;
  }
  .buttonQr {
    margin-left: 40px;
    width: 330px;
    height: 55px;
  }
  .arrow {
    margin-left: 20px;
  }
}
