@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  background-color: white;
}
.form-signin {
  background-color: white;
  width: 100%;
  /* height: 790px; */
  max-width: 370px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
}
.box {
  margin: 0px auto;
  width: 343px;
  height: 446px;
  border: 1px solid white;
  border-radius: 16px;
  background-color: white;
  position: absolute;
  margin-top: -70px;
  margin-left: 10px;
  box-shadow: 1px 4px 8px rgb(169, 169, 169);
}
.name {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-top: 60px;
}
.username {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: #949494;
  margin-top: -10px;
}
.button {
  width: 313px;
  height: 38px;
  border: 1px solid white;
  border-radius: 100px;
  background-color: #1238f7;
  color: white;
  margin-left: 15px;
  cursor: pointer;
}
.divimage {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.divimage2 {
  display: flex;
  font-weight: normal;
  font-size: 12px;
  margin-top: -10px;
}
.hr {
  width: 301px;
}
.bio {
  font-size: 14px;
  text-align: center;
}
.image {
  width: 74px;
  height: 74px;
  border-radius: 100px;
  margin-left: 130px;
  position: absolute;
  margin-top: -40px;
  border: 4px solid white;
}
.nominal {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.pesan {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: #949494;
}
.BG {
  margin: 0px auto;
  height: 256px;
  width: 400px;
  margin-top: -15px;
  margin-left: -15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
