@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  background-color: white;
}
.logo {
  width: 100%;
  /* height: 36px; */
}
.judul {
  color: black;
  font-size: 24px;
  width: 209px;
  height: 32px;
  margin-left: 10px;
}
.form-control-bio {
  width: 100%;
  padding: 12px 20px 80px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-signin {
  position: fixed;
  left: 0;
  right: 0;
  background-color: white;
  width: 100%;
  max-width: 350px;
  padding: 25px;
  margin-bottom: 390px;
  margin: 0px auto;
}
.profile {
  margin-top: 30px;
  margin-left: 110px;
}
.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
}
.btnSubmit {
  cursor: pointer;
  width: 350px;
  height: 46px;
  border: 1px solid;
  border-color: white;
  background-color: #21242b;
  border-radius: 100px;
  margin-top: 30px;
}
.text {
  color: white;
  text-align: center;
  margin-top: 13px;
}
.lengkapi {
  margin-right: 190px;
  font-size: 24px;
}
.App-header {
  margin-right: 240px;
}
.set {
  color: red;
}
.ukuranPP {
  width: 150px;
  height: 150px;
}
.boxupload {
  display: grid;
  margin-left: 100px;
  margin-top: 20px;
  place-items: center;
  border: 1px dashed #799cd9;
  position: relative;
  width: 150px;
  height: 150px;
  background: #fbfbff;
  border-radius: 200px;
}
.imageupload {
  display: flex;
  flex-wrap: wrap;
}
.imageupload label {
  cursor: pointer;
}
.imageupload :hover {
  opacity: 0.8;
}

.imageupload > input {
  display: none;
}
.uploadImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 200px;
}
.close-icon {
  background: #000;
  border-radius: 5px;
  opacity: 0.8;

  position: absolute;
  z-index: 10;
  right: 15px;
  top: 20px;
  cursor: pointer;
}
.close-icon :hover {
  opacity: 1;
}

@media only screen and (max-width: 500px) {
  .form-signin {
    height: 100%;
    align-items: center;
    margin: 0px auto;
  }
  .form-control {
    width: 100%;
    /* margin-left: 15px; */
  }
  .form-control-bio {
    width: 100%;
    /* margin-left: 15px; */
    padding: 12px 20px 40px;
  }
  .ukuranPP {
    height: 128px;
    width: 128px;
  }
  .set {
    font-size: 12px;
  }
  .boxupload {
    height: 128px;
    width: 128px;
    margin-left: 110px;
  }
  .uploadImage {
    width: 128px;
    height: 128px;
  }
  .btnSubmit {
    width: 100%;
  }
  .text {
    text-align: center;
    margin-top: 13px;
  }
}
/* @media only screen and (max-width: 320px) {
  .form-signin {
    position: fixed;
  }
  .logo {
    width: 100px;
  }
  .form-control {
    width: 90%;
    margin-left: 5px;
  }
  .form-control-bio {
    width: 90%;
    margin-left: 5px;
    padding: 12px 20px 40px;
  }
  .btnSubmit {
    padding: 0.1em 8.5em;
    margin-left: 10px;
    width: 5px;
    border: 1px;
  }
  .text {
    margin-left: -20px;
  }
  .ukuranPP {
    width: 150px;
    height: 150px;
    margin-right: 10px;
  }
  .set {
    font-size: 12px;
  }
  .boxupload {
    height: 150px;
    width: 150px;
  }
  .uploadImage {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .form-signin {
    position: fixed;
  }
  .logo {
    width: 100px;
  }
  .form-control {
    margin-left: 10px;
    width: 90%;
  }
  .form-control-bio {
    margin-left: 10px;
    width: 90%;
    padding: 12px 20px 40px;
  }
  .ukuranPP {
    width: 150px;
    height: 150px;
  }
  .set {
    font-size: 12px;
  }
  .boxupload {
    height: 150px;
    width: 150px;
    margin-left: 100px;
  }
  .uploadImage {
    width: 150px;
    height: 150px;
  }
  .btnSubmit {
    padding: 0.1em 10.2em;
    margin-left: 10px;
    width: 5px;
    border: 1px;
  }
  .text {
    margin-left: -20px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .form-signin {
    position: fixed;
  }
  .form-control {
    width: 100%;
    margin-left: 15px;
  }
  .form-control-bio {
    width: 100%;
    margin-left: 15px;
    padding: 12px 20px 40px;
  }
  .ukuranPP {
    width: 160px;
    height: 160px;
  }
  .set {
    font-size: 12px;
  }
  .boxupload {
    height: 160px;
    width: 160px;
    margin-left: 110px;
  }
  .uploadImage {
    width: 160px;
    height: 160px;
  }
  .btnSubmit {
    padding: 0.1em 11.6em;
    margin-top: 10px;
  }
  .text {
    margin-left: -23px;
  }
} */
