@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  /* height: 750px; */
  align-items: center;
  /* padding-top: 40px;
  padding-bottom: 40px; */
  background-color: #dcdcdc;
}

.logo {
  width: 114px;
  height: 36px;
}
.judul {
  color: black;
  font-size: 24px;
  width: 209px;
  height: 32px;
  margin-left: 10px;
}
.form-control-bio {
  width: 100%;
  padding: 12px 20px 80px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-signin {
  background-color: white;
  height: 900px;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
}
.profile {
  margin-top: 30px;
  margin-left: 110px;
}
.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  /* display: inline-block; */
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.btnSubmit {
  margin-left: 10px;
  /* position: relative; */
  /* appearance: none; */
  padding: 0.1em 9em;
  cursor: pointer;
  /* outline: none; */
  border-radius: 100px;
  border: 2px solid white;
  background: #21242b;
  margin-top: 30px;
}
.text {
  color: white;
  text-align: center;
}
.lengkapi {
  margin-right: 190px;
  font-size: 24px;
}
.App-header {
  margin-right: 240px;
}
.set {
  color: red;
}
@media only screen and (max-width: 320px) {
  .App {
    background-color: white;
  }
  .form-signin {
    position: fixed;
  }
  .logo {
    width: 100px;
  }
  .form-control {
    width: 90%;
    margin-left: 5px;
  }
  .form-control-bio {
    width: 90%;
    margin-left: 5px;
  }
  .btnSubmit {
    padding: 0.1em 8.5em;
    margin-left: 10px;
    width: 5px;
    border: 1px;
  }
  .text {
    margin-left: -20px;
  }
  .ukuranPP {
    width: 150px;
    height: 150px;
    margin-right: 10px;
  }
  .set {
    font-size: 12px;
  }
}
@media only screen and (max-width: 375px) {
  .App {
    background-color: white;
  }
  .form-signin {
    position: fixed;
  }
  .logo {
    width: 100px;
  }
}
@media only screen and (max-width: 425px) {
  .App {
    background-color: white;
  }
  .form-signin {
    position: fixed;
  }
  .form-control {
    width: 100%;
    margin-left: 15px;
  }
  .form-control-bio {
    width: 100%;
    margin-left: 15px;
    padding: 12px 20px 60px;
  }
  .btnSubmit {
    padding: 0.1em 11.2em;
    margin-top: 10px;
  }
  .text {
    margin-left: -23px;
  }
}
