@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  height: 750px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #dcdcdc;
}
.form-control-bio {
  width: 100%;
  padding: 50px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.form-signin {
  background-color: white;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
}
.profile {
  margin-top: 30px;
  margin-left: 110px;
}
.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.btnSubmit {
  margin-left: 10px;
  position: relative;
  appearance: none;
  padding: 0.1em 9em;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid white;
  background: #21242b;
  margin-top: 30px;
}
.text {
  color: white;
  text-align: center;
}
.lengkapi {
  margin-right: 190px;
  font-size: 24px;
}
.App-header {
  margin-right: 240px;
}
