@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  background-color: white;
}
.form-signin {
  background-color: white;
  height: 790px;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
}

.gbrarow {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.kun {
  margin-left: 130px;
  margin-top: 2px;
  position: absolute;
  font-size: 18px;
}
.check {
  margin-left: 330px;
  margin-top: -15px;
}
.user {
  border: 100px;
  margin-top: 30px;
  margin-left: 110px;
}
.kun1 {
  margin-left: 125px;
  margin-top: 0px;
}
.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-control-bio {
  width: 100%;
  padding: 12px 20px 80px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.btnSubmit {
  margin-left: 10px;
  position: relative;
  appearance: none;
  padding: 0.1em 9em;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid white;
  background: #21242b;
  margin-top: 30px;
}
.check1 {
  cursor: pointer;
}
.inputContainer {
  width: 100%;
  padding: 0 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: "center";
  background-color: "white";
  box-sizing: border-box;
  border-radius: 5px;
}
.usernameLabel {
  margin: 12px 0px;
  font-weight: normal;
}
.username {
  width: 100%;
  border: none;
  box-shadow: none;
  outline: none !important;
}
.set {
  color: red;
}
.picture {
  width: 130px;
  height: 130px;
  /* border-radius: 5px; */
  margin-top: 20px;
  position: relative;
  border-radius: 100%;
}
.profile {
  margin-left: 110px;
}
.boxupload {
  display: grid;
  margin-left: 95px;
  margin-top: 20px;
  place-items: center;
  border: 1px dashed #799cd9;
  /* padding: 36px 48px; */
  position: relative;

  height: 150px;
  width: 150px;

  background: #fbfbff;
  border-radius: 200px;
}
.imageupload {
  display: flex;
  flex-wrap: wrap;
}
.imageupload label {
  cursor: pointer;
}
.imageupload :hover {
  opacity: 0.8;
}

.imageupload > input {
  display: none;
}
.uploadImage {
  height: 220px;
  width: 220px;
  object-fit: cover;
  border-radius: 200px;
}
.close-icon {
  background: #000;
  border-radius: 5px;
  opacity: 0.8;

  position: absolute;
  z-index: 10;
  right: 15px;
  top: 20px;
  cursor: pointer;
}
.close-icon :hover {
  opacity: 1;
}
.ukuranPP {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  cursor: pointer;
}
.kun1 {
  margin-left: 110px;
}
@media only screen and (max-width: 500px) {
  .form-signin {
    height: 100%;
    align-items: center;
    margin: 0px auto;
  }
  .boxupload {
    height: 128px;
    width: 128px;
    margin-left: 120px;
  }
  .uploadImage {
    width: 128px;
    height: 128px;
  }
  .ukuranPP {
    height: 128px;
    width: 128px;
  }
  .kun1 {
    margin-left: 120px;
  }
}
/* @media only screen and (max-width: 320px) {
  .form-signin {
    position: fixed;
    height: 100%;
    padding: 20px;
  }
  .kun {
    margin-left: 100px;
    font-size: 16px;
  }
  .check1 {
    margin-right: 50px;
  }
  .form-control {
    width: 90%;
  }
  .form-control-bio {
    padding: 12px 20px 60px;
    width: 90%;
  }
  .inputContainer {
    width: 90%;
  }
  .ukuranPP {
    width: 150px;
    height: 150px;
    margin-right: 10px;
  }
  .set {
    font-size: 12px;
  }
  .boxupload {
    height: 150px;
    width: 150px;
  }
  .uploadImage {
    width: 150px;
    height: 150px;
  }
  .ukuranPP {
    width: 150px;
    height: 150px;
  }
  .set {
    font-size: 12px;
  }
  .boxupload {
    height: 150px;
    width: 150px;
    margin-left: 70px;
  }
  .uploadImage {
    width: 150px;
    height: 150px;
  }
  .kun1 {
    margin-left: 80px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .form-signin {
    position: fixed;
    height: 100%;
    padding: 20px;
  }
  .kun {
    margin-left: 120px;
    font-size: 16px;
  }
  .check1 {
    margin-right: 30px;
  }
  .form-control {
    width: 95%;
  }
  .form-control-bio {
    width: 95%;
    padding: 12px 20px 60px;
  }
  .inputContainer {
    width: 95%;
  }
  .ukuranPP {
    width: 150px;
    height: 150px;
  }
  .set {
    font-size: 12px;
  }
  .boxupload {
    height: 150px;
    width: 150px;
    margin-left: 90px;
  }
  .uploadImage {
    width: 150px;
    height: 150px;
  }
  .kun1 {
    margin-left: 100px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .form-signin {
    position: fixed;
    height: 100%;
    padding: 30px;
  }
  .kun {
    margin-left: 140px;
    font-size: 16px;
  }
  .check1 {
    margin-right: 0px;
  }
  .form-control {
    margin-left: 10px;
    width: 100%;
  }
  .form-control-bio {
    margin-left: 10px;
    width: 100%;
    padding: 12px 20px 60px;
  }
  .inputContainer {
    margin-left: 10px;
    width: 100%;
  }
  .ukuranPP {
    width: 160px;
    height: 160px;
  }
  .set {
    font-size: 12px;
  }
  .boxupload {
    height: 160px;
    width: 160px;
    margin-left: 100px;
  }
  .uploadImage {
    width: 160px;
    height: 160px;
  }
  .kun1 {
    margin-left: 120px;
  }
} */
