@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.Applima {
    
    height: 700px;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #dcdcdc; 
  }
  .form-signin2 {
    background-color: white;
    width: 100%;
    height: 130px;
    max-width: 350px;
    padding: 15px;
    margin-bottom: 390px;
    margin: 0px auto;
    margin-top: 130px;
    border-radius: 5px;
  }

  .share1{
    display: flex;
    justify-content: space-evenly;
  }
  .text2 {
    margin-left: 28px;
  }