@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  height: 0px auto;
  align-items: center;
  background-color: #dcdcdc;
}
.form-signin {
  background-color: white;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
}
.tagihan {
  margin-left: 40px;
  margin-top: 20px;
  font-size: 18px;
}
.buat {
  margin-top: -35px;
  color: black;
  cursor: pointer;
}

.button {
  margin-left: 280px;
  margin-top: -40px;
  position: absolute;
  padding: 0.1em 0.9em;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid #21242b;
  background: black;
}

.boxdua {
  width: 100%;
  /* padding: 0px 3px; */
  border-radius: 10px;
  background-color: white;
  box-shadow: 4px 5px 10px rgb(169, 169, 169);
}
.arah {
  margin-top: -60px;
  margin-left: 270px;
  position: absolute;
  cursor: pointer;
}
h6 {
  color: rgb(169, 169, 169);
}
.arrow {
  /* margin-left: 270px; */
  position: absolute;
}
.share {
  position: absolute;
  background: transparent;
  width: 200px;
  height: 20px;
  left: 15px;
  bottom: -10px;
  border-radius: 5px;
  background-color: #eff0f2;
  margin-bottom: 30px;
  font-size: 12px;
}
.link {
  font-size: 12px;
  color: #838790;
  /* margin-left: 20px; */
}
.a {
  border-radius: 5px;
  border: 1px;
  margin-left: 5px;
  margin-bottom: 8px;
  cursor: pointer;
}
.time {
  float: left;
  margin-left: 110px;
}
@media only screen and (max-width: 320px) {
  .form-signin {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .button {
    margin-left: 220px;
  }
  .boxdua {
    width: 90%;
  }
  .time {
    margin-left: 80px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .form-signin {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
  }
  .button {
    margin-left: 270px;
  }
  .boxdua {
    width: 95%;
  }
  .time {
    margin-left: 100px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .form-signin {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px;
  }
  .button {
    margin-left: 290px;
  }
  .boxdua {
    width: 100%;
  }
  .time {
    margin-left: 110px;
  }
}
