@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #dcdcdc;
}
.form-signin {
  background-color: white;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
}

.button {
  margin-left: 210px;
  margin-top: -50px;
  position: absolute;
  padding: 0.5em 0.8em;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid #21242b;
  background: black;
}

.boxdua {
  width: 100%;
  padding: 0px 3px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 4px 5px 10px rgb(169, 169, 169);
}
.arah {
  margin-top: -60px;
  margin-left: 270px;
  position: absolute;
  cursor: pointer;
}
h6 {
  color: rgb(169, 169, 169);
}
.arrow {
  margin-left: 270px;
  bottom: 70px;
  position: absolute;
}
.share {
  position: absolute;
  background: transparent;
  width: 200px;
  height: 20px;
  left: 15px;
  bottom: -10px;
  border-radius: 5px;
  background-color: #eff0f2;
  margin-bottom: 30px;
  font-size: 12px;
}
.time {
  margin-left: 250px;
  margin-top: 110px;
}
.link {
  font-size: 12px;
  color: #838790;
  margin-left: 20px;
}
.a {
  height: 150px;
}
