@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  background-color: white;
}
.form-signin {
  background-color: white;
  height: 790px;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
  position: relative;
}
.form-control {
  border: 1px;
  font-size: 64px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  height: 50px;
}
input[type="text"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="text"]:focus {
  outline: none;
}
.formPesan {
  border: 1px;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
input[type="text"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="text"]:focus {
  outline: none;
}
.button {
  width: 323px;
  height: 55px;
  background-color: black;
  border-radius: 31px;
  border: 1px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  margin-left: 15px;
}
.set {
  color: red;
  text-align: center;
}
.rupiah {
  font-size: 30px;
  margin-left: 120px;
}
.inputContainer {
  width: 100%;
  padding: 0 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: "center";
  background-color: "white";
  box-sizing: border-box;
  border-radius: 5px;
}
.usernameLabel {
  margin: 12px 0px;
  font-weight: normal;
}
.username {
  width: 100%;
  border: none;
  box-shadow: none;
  outline: none !important;
}

@media only screen and (max-width: 500px) {
  .form-signin {
    height: 100%;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
  }
  .form-control {
    width: 100%;
    font-size: 60px;
    margin-left: -30px;
  }
}
