@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  align-items: center;
  /* background-color: #dcdcdc; */
}
.form-signin {
  height: 900px;
  background-color: white;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
}

.gbrarow {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.kun {
  margin-left: 10px;
  margin-top: 2px;
  position: absolute;
  font-size: 18px;
}

.silang {
  margin-left: 320px;
}

.form-control-nama {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-control-email {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-control-nominal {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-control-bio {
  width: 100%;
  padding: 12px 20px 60px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.div1 {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.change {
  font-size: 12px;
  margin-left: 35px;
  position: relative;
  appearance: none;
  padding: 1em 7em;
  color: #838790;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid #838790;
  background: transparent;
  cursor: pointer;
}
.trash {
  cursor: pointer;
}
.a {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.nama {
  margin-left: 50px;
}

.min {
  font-size: 12px;
  color: #838790;
  margin: 0px 0px;
}
.set {
  color: red;
}
@media only screen and (max-width: 320px) {
  .form-signin {
    position: fixed;
  }
  .kun {
    font-size: 16px;
  }
  .silang {
    margin-left: 250px;
  }
  .form-control-nama {
    width: 90%;
  }
  .form-control-email {
    width: 90%;
  }
  .form-control-nominal {
    width: 90%;
  }
  .form-control-bio {
    width: 90%;
  }
  .a {
    margin-left: -30px;
  }
  .sampah {
    width: 90px;
  }
  .change {
    padding: 1em 5em;
    /* margin-left: -5px; */
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .form-signin {
    position: fixed;
    padding: 20px;
  }
  .kun {
    font-size: 18px;
  }
  .silang {
    margin-left: 300px;
  }
  .form-control-nama {
    width: 95%;
  }
  .form-control-email {
    width: 95%;
  }
  .form-control-nominal {
    width: 95%;
  }
  .form-control-bio {
    width: 95%;
  }
  .a {
    margin-left: -20px;
  }
  .sampah {
    width: 90px;
    margin-left: 5px;
  }
  .change {
    padding: 1em 7em;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .form-signin {
    position: fixed;
    padding: 40px;
  }
  .kun {
    font-size: 18px;
    margin-left: 1px;
  }
  .silang {
    margin-left: 320px;
  }
  .form-control-nama {
    width: 100%;
  }
  .form-control-email {
    width: 100%;
  }
  .form-control-nominal {
    width: 100%;
  }
  .form-control-bio {
    width: 100%;
  }
  .a {
    margin-left: -5px;
  }
  .sampah {
    width: 90px;
    margin-left: 5px;
  }
  .change {
    padding: 1em 8em;
  }
}
