@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
* {
  font-family: "DM Sans";
}

.App {
  height: 737px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #dcdcdc;
}
.form-signin {
  background-color: white;
  width: 100%;
  position: relative;
  max-width: 350px;
  padding: 15px;
  margin-bottom: 390px;
  margin: 0px auto;
}
.kun {
  margin-left: 110px;
  margin-top: 2px;
  font-size: 18px;
}
.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.btnSubmit {
  margin-left: 10px;
  position: relative;
  appearance: none;
  padding: -10em 9em;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid white;
  background: black;
  margin-top: 30px;
}
.text {
  color: white;
  display: flex;
  justify-content: center;
}
.img {
  position: absolute;
  cursor: pointer;
  width: 20px;
  margin-top: 20px;
  margin-right: 200px;
  right: -160px;
}
